.item-card {
    width: 30%;
}

.item-card > img {
    width: 100%;
    object-fit: contain;
}

.item-card > h5 {
    color: var(--text-color);
    font-weight: 300;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.img-error-container {
    width: 100%;
    height: calc(100% - 24px);
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-error-container > span {
    color: var(--text-color);
    text-align: center;
    font-weight: 400;
}

